.button{
    font-size: 14px;
    margin: 0;
    color:white;
    cursor: pointer;
    background-color: #6D5A8E;
    font-weight: 400;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    text-transform: capitalize;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}